@import 'avalanchesass_component_editor_content/style_guide';
@import 'avalanchesass_component_editor_content/variable';

@if variable-exists(c-hn-namespace) or variable-exists(c-table-namespace) {
  /* extract component.css */
  /* extract component_editor_content.css */
  /*---
  title:   Example
  name:    component_editor_content_example
  section: component_editor_content
  order:   1
  ---
  */
  @if variable-exists(c-hn-namespace) and length($c-hn-n) >= 1 {
    /*---
    title:   hN
    name:    component_editor_content_example_hn
    section: component_editor_content_example
    order:   1
    ---

    ```example:html
<div class="#{$c-editor-content-namespace}">
  <h1>Headline 1</h1>
  <h2>Headline 2</h2>
  <h3>Headline 3</h3>
  <h4>Headline 4</h4>
  <h5>Headline 5</h5>
  <h6>Headline 6</h6>
</div>
    ```
    */
    .#{$c-editor-content-namespace} {
      @each $-n-data in $c-hn-n {
        $-n: nth($-n-data, 1);
        h#{$-n} {
          @include c-h($-n);
        }
      }
    }
  }

  @if variable-exists(c-table-namespace) {
    /*---
    title:   Table
    name:    component_editor_content_example_table
    section: component_editor_content_example
    order:   1
    ---

    ```example:html
<div class="#{$c-editor-content-namespace}">
  <table>
    <thead>
      <tr>
        <th>Column 1</th>
        <th>Column 1</th>
        <th>Column 1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lorem</td>
        <td>Ipsum</td>
        <td>Dolor</td>
      </tr>
      <tr>
        <td>Lorem</td>
        <td>Ipsum</td>
        <td>Dolor</td>
      </tr>
      <tr>
        <td>Lorem</td>
        <td>Ipsum</td>
        <td>Dolor</td>
      </tr>
    </tbody>
  </table>
</div>
    ```
    */
    .#{$c-editor-content-namespace} {
      table {
        @include c-table($c-table-column-padding, $c-table-column-border);
      }
    }
  }
  /* end extract component_editor_content.css */
  /* end extract component.css */
}
