@import 'avalanchesass_component_editor_content/style_guide';

$c-editor-content-namespace: '#{map-get($namespace, component)}editor-content' !default;

$c-editor-content-table-zebra-striping: true !default;
/*---
title:   Variable
name:    component_editor_content_variable
section: component_editor_content
order:   2
---

```css
$c-editor-content-namespace: '#{$c-editor-content-namespace}';
$c-editor-content-table-zebra-striping: #{$c-editor-content-table-zebra-striping};
```
*/
